img {
      	color: black;
      	margin: 20px;
      	padding : 10px;
      	width:30%;
      	height:10%;
	    
	
    
	
   
    }
.row:after {
  content: "";
  display: table;
  clear: both;
}


.column {
  float: left;
  width: 30.66%;
  padding: 10px;
}

h1  {
	
    	text-indent: 100px;
	font-size: 30px;
	text-transform: uppercase;
     }
h2	{
		font-size:130%;
		color:#ffffff;
	}
h3	{
		font-size:130%;
	}
.sentc {
		
		color:black;
		padding-left:100px;
               	margin-top:-200px;
		font-size: 100%;
	}
.sentc1{
		color:black;
		padding-left:100px;
               	margin-top:-100px;
		font-size: 150%;
	}

.sentc2{
		color:black;
		padding-left:350px;
               	margin-top:-100px;
		font-size: 150%;
	}
.Bg1 {
		background-image: url("img/background.jpg");
		width: 100%;
		height:100%
	}
.box{
	box-sizing: border-box;
	background-color:#004f50;
	padding : 200px;
	padding-bottom: 0px;
	}
/*----------START: CSS FOR HEADER----------*/

.header {
	background-color: #404040;
	width: 100%;
	height: 80px;
	display: block;
}

.img1 {
	height: auto;
	width: 200px;
	padding: 2px 0px 0px 8px;
}

.active1 {
  display: block;
  color: white;
  text-align: center;
  font-family:calibri;
  font-size:15px;
  padding: 30px 30px;
  text-decoration: none;
  background-color:grey;
  border-radius:4px
}

.menu1 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

.menu2 {
  float: right;
}

.menu3 {
  float: left;
}

.menu4{
  display: block;
  color: white;
  font-family:calibri;
  font-size:15px;
  padding: 30px 30px;
  text-decoration: none;
}


li a:hover {
  background-color: grey;
  border-radius:4px
}


/*----------END: CSS FOR HEADER----------*/

/*----------START: CSS FOR FOOTER----------*/

.img2 {
	height: auto;
	width: 200px;
	float:right;
	padding-right:20px;
}

.p1 {
	font-size: 18px;
	color: white;
	font-family: calibri;
	float:right;
}

.footer {
	background-color: #404040;
	width: 100%;
	height: 300px;
	font-family:calibri;
}

.img3{
	height: auto;
	width: 200px;
	padding: 23px 0px 100px 8px;
}

.img4{
	height: auto;
	width: 200px;
	padding: 23px 0px 100px 20px;
}

.img5{
	height: auto;
	width: 50px;
	padding: 23px 0px 100px 20px;
}

.img6{
	height: auto;
	width: 50px;
	padding: 23px 0px 100px 20px;
}

.img7{
	height: auto;
	width: 50px;
	padding: 23px 0px 100px 20px;
}

.img8{
	height: auto;
	width: 50px;
	padding: 23px 0px 100px 20px;
}

/*----------END: CSS FOR FOOTER----------*/
